---
import HomeFooter from "@components/home/HomeFooter.astro";
import HomeHero from "@components/home/HomeHero.astro";
import HomeQuote from "@components/home/HomeQuote.astro";
import HistoryBand from "@components/home/HistoryBand.astro";
import PomelnicSection from "@components/home/PomelnicSection.astro";
import RecentPosts from "@components/home/RecentPosts.astro";
import RepresentationSection from "@components/home/RepresentationSection.astro";
import Layout from "@layouts/Layout.astro";
import { getLocaleFromUrl } from "@i18n/utils";

const lang = getLocaleFromUrl(Astro.url);
---

<Layout>
  <main class="bg-site-gray overflow-hidden">
    <HomeHero lang={lang} />
    <HomeQuote lang={lang} />
    <RecentPosts lang={lang} />
    <HistoryBand lang={lang} />
    <RepresentationSection lang={lang} />
    <PomelnicSection lang={lang} />
    <HomeFooter lang={lang} />
  </main>
</Layout>
